<% if (is_home() && page.total > 1) { %>
  <div class='paginator-wrap dis-select'>
    <a class='paginator prev<%- page.prev != 0 ? "" : " disable" %>' href='<%- url_for(page.prev_link) %>'>
      <img src='/cdn/images/prev.svg'/>
    </a>
    <div class='paginator current'>
      <%- page.current %><span class='sep'></span><%- page.total %>
    </div>
    <a class='paginator next<%- page.next != 0 ? "" : " disable" %>' href='<%- url_for(page.next_link) %>'>
      <img src='/cdn/images/next.svg'/>
    </a>
  </div>
<% } %>
